<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
  
 
  <test name="Regression1">
    <classes>
      <class name="com.testworldweb.api.flickr.TestngTest1"/>
      <class name="com.testworldweb.api.flickr.TestngTest2"/>
      <class name="com.testworldweb.api.flickr.TestngTest3">
      <gro>methodnameOfClasstest3</method>
      </class>
      
      
    </classes>
  </test>
</suite>
